:root {
  --hue-neutral: 200;
}

section {
  padding-left: 10px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

:root {
  --hue-neutral: 200;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

#site-header {
  color: white;
  font-size: 40px;
  text-shadow: -1px 1px 2px rgb(124, 0, 240),
    1px 1px 2px rgb(124, 0, 240),
    1px -1px 0 rgb(124, 0, 240),
    -1px -1px 0 rgb(124, 0, 240);
}