:root {
  --hue-neutral: 200;
  --purple: rgb(124, 0, 240);
}

body {
  background-color: gray;
  min-height: 86vh;
    position: relative;
    padding-bottom: 10px;

}

section {
  padding-left: 10px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  margin-top: 10px;
  margin-left: 13px;
}

.btn:hover {
  border-color: black;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid #af4c4c;
}

.button3:hover {
  background-color: #af4c4c;
  color: white;
}

.card {
  width: 50%
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%; 
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite; 
} 

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#site-header {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  padding: 50px;
  height: 500px;
}

#about-tag {
  color: blue;
  text-align: center;
  margin-top: 7px;
}

#start-btn {
  height: 50px;
  width: 300px;
  font-size: 22px;
}

#intro {
  font-size: 15px;
  text-align: center;
  padding: 5px;
}

#footer-style {
  background: linear-gradient(180deg, var(--purple) 0%, rgba(125, 26, 203, 0.0677083) 99.99%, rgba(211, 206, 206, 0) 100%);
  padding: 10px;
  font-size: smaller;  color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  position: relative;
}

#footer-style a {
    color: goldenrod;
}

.top-bar {
  border-radius: 8px;
  display: inline-block;
  margin-top: -105px;

}

#site-name {
  color: rgb(255, 255, 255);
  font-size: 60px;
  text-shadow: -1px 1px 2px var(--purple),
    1px 1px 2px var(--purple),
    1px -1px 0 var(--purple),
    -1px -1px 0 var(--purple);
}

footer p {
  margin: 0px;
}